<!-- css goes here, k? --> 
		.inline{
                	display:inline;
		}
		#mainpic{
			position:relative;
			right: 0px;
			z-axis: 1;
		}
		h1{
			position:absolute;
			right:20px;
			top:100px;
			z-axis: 2;
			text-align:center;
		}
		span{
			background-color:yellow;
		}
		div {
			width:100px;
			overflow:scroll;
			border: black 2px solid;
			height:100px;
		}
